@page
@model cafe.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Clients";
}

<h1>Клиенты</h1>
<p>
    <a asp-page="Create" class="btn btn-primary">Добавить клиента</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>NickName</th>
            <th>Полное имя</th>
            <th>Бонусные баллы</th>
            <th>Email</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model.Clients)
        {
            <tr>
                <td>@client.NickName</td>
                <td>@client.Fullname</td>
                <td>@client.BonusPoint</td>
                <td>@client.Email</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@client.Id" class="btn btn-sm btn-warning">Изменить</a>
                    <a asp-page="Delete" asp-route-id="@client.Id" class="btn btn-sm btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>